// Fonts
@import url(https://fonts.google.com/specimen/Kumbh+Sans);


// Media
$desktop: 768px;
$mobile: 768px;


// font weights
.font__bold {
    font-weight: 700;
}

.font__normal {
    font-weight: 400;
}


// Colors
$cyan : hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$gray: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);


// foundations for grateness!
html {
    margin: 0;
}

body {
    background: $cyan;
    overflow: hidden;
}


// Background Images = Bubbles
#top-image {
    height: 621px;
    width: 622px;
    position: absolute;
    top: -394px;
    left: -98.65px;
    rotate: (135deg);
    opacity: .25;
}

//Desktop
@media (min-width: $desktop) {
    #bottom-image {
        height: 621px;
        width: 622px;
        position: absolute;
        bottom: -400px;
        right: 0;
        rotate: (-45deg);
    }
}

//Mobile
@media (max-width: $mobile) {
    #bottom-image {
        height: 621px;
        width: 622px;
        position: absolute;
        bottom: -300px;
        right: -200px;
        rotate: (-45deg);
    }
}


// Main Div / Holder
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


// The Profile Card
#card {
    width: 326px;
    min-height: 374px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 50px 100px -20px #08465e50;

    // Top Div
    #top {
        height: 140px;
        width: auto;
        background-image: url(../images/bg-pattern-card.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        margin: 0 auto;
        padding: 0;
    }

    #img {
        border-radius: 100px;
        border: 5px solid #fff;
        height: 96px;
        width: 96px;
        bottom: -70px;
        position: relative;
        margin: auto;
    }

    // Middle Div with content
    #mid {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
        border-bottom: 1px solid hsl(231, 17%, 92%);
        padding-bottom: 28px;

        h1 {
            color: $dark-blue;
            font-size: 18px;
            text-transform: capitalize;

            small {
                font-size: 18px;
                color: #6B7082;
            }
        }

        .location {
            font-size: 14px;
            font-weight: 300;
            color: #6b7082;
            text-transform: capitalize;
        }
    }


    // Bottom div with social stats
    #bottom {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        width: 233px;
        text-align: center;
        padding: 24px 0;
        margin: auto;


        div {
            width: 33.33%;
            text-transform: capitalize;

        }

        h2 {
            font-size: 18px;
            font-weight: 700;
            color: #2E3349;
            text-transform: upp;
        }

        p {
            font-weight: 300;
            font-size: 10px;
            letter-spacing: 1.5px;
            color: #6B7082;
        }
    }
}

// End of Card


// Frontend Mentor's shoutout!!!!! Thanks!
#footer {
    width: 100%;
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: row;
    bottom: 0;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 14px;
    color: rgb(58, 58, 58);

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:hover {
            color: rgb(219, 219, 219);
        }
    }
}