// Reuseable styles

// Fonts
@import url(https://fonts.google.com/specimen/Kumbh+Sans);

.font__bold {
    font-weight: 700;
}

.font__normal {
    font-weight: 400;
}

// Colors
$cyan : hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$gray: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

*,
html {
    margin: 0;
}

body {
    background: $cyan;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    width: 326px;
    height: 374px;
    background: #fff;
    border-radius: 15px;
    border: $gray 1px solid;

    #top {
        height: 350px;
        width: auto;
        background-image: url(../images/bg-pattern-card.svg);
        overflow: hidden;
    }
}